<nav class="flex py-4 my-4 font-noto justify-between border-gray-500 border-b-2 uppercase ">
    <div>
        <a href="/" class="text-gray-600 font-semibold">
            <h2 class="font-bold w-full text-3xl">Blog Page</h2>
        </a>
        <p class="text-gray-600 font-semibold">A Node js Site</p>
    </div>
    <ul class="flex justify-between items-end">
        <li class="ml-10"><a href="/">Blog</a></li>
        <li class="ml-10"><a href="/about">About</a></li>
        <li class="ml-10"><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>